<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138931871527-ktajmtsj1su5qndblbo2dfsfqee1408m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138931871527-ktajmtsj1su5qndblbo2dfsfqee1408m</string>
	<key>API_KEY</key>
	<string>AIzaSyA66FZB65VtrWbElbMMUXfVnzrXAhnj2Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>138931871527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vancebasilio.Kasam-1-1</string>
	<key>PROJECT_ID</key>
	<string>kasam-348b1</string>
	<key>STORAGE_BUCKET</key>
	<string>kasam-348b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138931871527:ios:252a4a52663edda9</string>
	<key>DATABASE_URL</key>
	<string>https://kasam-348b1.firebaseio.com</string>
</dict>
</plist>