<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056043309290-kt1odno12nvt4ht6tphu3e3vofv3k1ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056043309290-kt1odno12nvt4ht6tphu3e3vofv3k1ak</string>
	<key>API_KEY</key>
	<string>AIzaSyDEYTBiJ25vZwpuc8qlKbeH2V3gTfIE3sc</string>
	<key>GCM_SENDER_ID</key>
	<string>1056043309290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vancebasilio.Kasam</string>
	<key>PROJECT_ID</key>
	<string>kasam-coach</string>
	<key>STORAGE_BUCKET</key>
	<string>kasam-coach.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056043309290:ios:db5c385656e21b6d509f93</string>
	<key>DATABASE_URL</key>
	<string>https://kasam-coach.firebaseio.com</string>
</dict>
</plist>